languageCode = "en-us"
title = "www.mirkosertic.de"
theme= "boot"
baseurl = "https://www.mirkosertic.de/"
copyright = "Mirko Sertic"
googleAnalytics = "UA-33614060-2"
disqusShortname = "www-mirkosertic-de"
paginate = 40
enableRobotsTXT = false
disableHugoGeneratorInject = true
enableGitInfo = true

[Taxonomies]
    tag = "tags"

[Author]
    name = "Mirko Sertic"
    profile = "https://twitter.com/mirkosertic"

[Params]
    description = "The digital Home of Mirko Sertic"
    opengraph = true

[sitemap]
    changefreq = "daily"
    priority = 0.5
    filename = "sitemap.xml"

[Permalinks]
    post = "blog/:year/:month/:filename/"

[[menu.main]]
    name = "My favorite postings"
    url = "/global/favorites"
    weight = 20

[[menu.main]]
    name = "Blog"
    url = "/post/"
    weight = 50

[[menu.main]]
    name = "Interesting Books"
    url = "/global/interestingbooks"
    weight = 10

[[menu.main]]
    name = "Tools & Goodies"
    url = "/global/toolsgoodies"
    weight = 5

[markup.asciidocExt]
    extensions = ["asciidoctor-kroki"]
    [markup.asciidocExt.attributes]
        kroki-fetch-diagram = true

[security]
    [security.exec]
        allow = ['^dart-sass-embedded$', '^go$', '^npx$', '^postcss$', '^asciidoctor$', '^git$']
