languageCode = "en-us"
title = "www.mirkosertic.de"
theme= "boot"
baseurl = "https://www.mirkosertic.de/"
copyright = "Mirko Sertic"
googleAnalytics = "UA-33614060-2"
enableRobotsTXT = false
disableHugoGeneratorInject = true
enableGitInfo = true
timeout = 120

[pagination]
    pagerSize = 40

[Taxonomies]
    tag = "tags"

[Params]
    description = "The digital Home of Mirko Sertic"
    opengraph = true

    [Params.author]
        name = "Mirko Sertic"
        profile = "https://x.com/mirkosertic"

[sitemap]
    changefreq = "daily"
    priority = 0.5
    filename = "sitemap.xml"

[Permalinks]
    post = "blog/:year/:month/:filename/"

[[menu.main]]
    name = "My favorite postings"
    url = "/global/favorites"
    weight = 20

[[menu.main]]
    name = "Blog"
    url = "/post/"
    weight = 50

[[menu.main]]
    name = "Interesting Books"
    url = "/global/interestingbooks"
    weight = 10

[[menu.main]]
    name = "Technology Radar"
    url = "/global/toolsgoodies"
    weight = 5

[markup.asciidocExt]
    extensions = ["asciidoctor-diagram"]

[security]
    [security.exec]
        allow = ['^dart-sass-embedded$', '^go$', '^npx$', '^postcss$', '^asciidoctor$', '^git$', '^asciidoctor-diagram$']
