{{ partial "header.html" . }}

<header class="business-header bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 text-center text-white mt-4">Requested page not found!</h1>
                <h2 class="display-3 text-center text-white mt-4 d-none d-md-block">This is a 404! I repeat, we have a 404!</h2>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h1>My crack addicted monkey Joe will analyze the problem and maybe even fix it. In the meantime, please click on one of the links in the menu to continue navigating the page.</h1>
</div>

{{ partial "footer.html" . }}