AddHandler php70-cgi .php
<FilesMatch "\.(js|css|png|jpg)$">
Header set Cache-Control "max-age=1209600, private, proxy-revalidate"
</FilesMatch>
<FilesMatch "js.php$">
Header set Cache-Control "max-age=1209600, private, proxy-revalidate"
</FilesMatch>

