       </section>
       <footer>
              &copy; Mirko Sertic. All rights reserved.
       </footer>
       <script>
           function existsByCSSSelector(aSelector) {
               var element = document.querySelector(aSelector);
               if (element) {
                   return true;
               }
               return false;
           }

           var Loader = function () { };
           Loader.prototype = {
               require: function (scripts, callback) {
                   this.loadCount = 0;
                   this.totalRequired = scripts.length;
                   this.callback = callback;

                   for (var i=0;i<scripts.length;i++) {
                       this.writeScript(scripts[i]);
                   }
               },
               loaded: function (evt) {
                   this.loadCount++;

                   if (this.loadCount==this.totalRequired && typeof this.callback=='function') this.callback.call();
               },
               writeScript: function (src) {
                   var self = this;
                   var s = document.createElement('script');
                   s.type = "text/javascript";
                   s.async = true;
                   s.src = src;
                   s.addEventListener('load', function (e) { self.loaded(e); }, false);
                   var head = document.getElementsByTagName('head')[0];
                   head.appendChild(s);
               }
           };

           var loadParticles = false;
           if (window.matchMedia) {
               var checkResult = window.matchMedia("only screen and (min-width: 1380px)");
               loadParticles = checkResult.matches;
           } else {
               loadParticles = true;
           }

           if (loadParticles) {
               var particleLoader = new Loader();
               particleLoader.require(["{{ .Site.BaseURL }}js/particles.min.js"], function () {
                   particlesJS("particles-js", {
                       "particles": {
                           "number": {
                               "value": 60,
                               "density": {
                                   "enable": true,
                                   "value_area": 200
                               }
                           },
                           "color": {
                               "value": "#6b6e70"
                           },
                           "shape": {
                               "type": "circle",
                               "stroke": {
                                   "width": 0,
                                   "color": "#6b6e70"
                               },
                               "polygon": {
                                   "nb_sides": 5
                               },
                           },
                           "opacity": {
                               "value": 0.5,
                               "random": false,
                               "anim": {
                                   "enable": false,
                                   "speed": 1,
                                   "opacity_min": 0.1,
                                   "sync": false
                               }
                           },
                           "size": {
                               "value": 3,
                               "random": true,
                               "anim": {
                                   "enable": false,
                                   "speed": 40,
                                   "size_min": 0.1,
                                   "sync": false
                               }
                           },
                           "line_linked": {
                               "enable": true,
                               "distance": 150,
                               "color": "#6b6e70",
                               "opacity": 0.4,
                               "width": 1
                           },
                           "move": {
                               "enable": true,
                               "speed": 2,
                               "direction": "none",
                               "random": false,
                               "straight": false,
                               "out_mode": "out",
                               "bounce": false,
                               "attract": {
                                   "enable": false,
                                   "rotateX": 600,
                                   "rotateY": 1200
                               }
                           }
                       },
                       "interactivity": {
                           "detect_on": "canvas",
                           "events": {
                               "onhover": {
                                   "enable": true,
                                   "mode": "grab"
                               },
                               "onclick": {
                                   "enable": true,
                                   "mode": "push"
                               },
                               "resize": true
                           },
                           "modes": {
                               "grab": {
                                   "distance": 140,
                                   "line_linked": {
                                       "opacity": 1
                                   }
                               },
                               "bubble": {
                                   "distance": 400,
                                   "size": 40,
                                   "duration": 2,
                                   "opacity": 8,
                                   "speed": 3
                               },
                               "repulse": {
                                   "distance": 200,
                                   "duration": 0.4
                               },
                               "push": {
                                   "particles_nb": 4
                               },
                               "remove": {
                                   "particles_nb": 2
                               }
                           }
                       },
                       "retina_detect": true
                   });
               });
           }

           if (existsByCSSSelector("pre.highlight code") > 0) {
               var loader = new Loader();
               loader.require(["{{ .Site.BaseURL }}js/highlight-9.9.0.min.js"], function() {
                   hljs.initHighlightingOnLoad();
               });
           }
       </script>
    </body>
</html>