<div class="landingpage" itemscope itemtype="http://schema.org/Blog">
    <div class="wrapper" itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
        <div class="phrase1">Hello, my name is Mirko Sertic.</div>
        <div class="phrase2" itemprop="jobTitle">Software Engineer.</div>
        <div class="sociallinks">
            <a class="icon" target="_top" href="mailto:mirko@mirkosertic.de" itemprop="email"><i class="fa fa-envelope"></i></a>
            <a class="icon" target="_blank" href="{{ .Site.BaseURL }}index.xml" itemprop="url"><i class="fa fa-rss"></i></a>
            <a class="icon" target="_blank" href="https://www.xing.com/profile/Mirko_Sertic" itemprop="url"><i class="fa fa-xing"></i></a>
            <a class="icon" target="_blank" href="https://twitter.com/mirkosertic" itemprop="url"><i class="fa fa-twitter"></i></a>
            <a class="icon" target="_blank" href="https://github.com/mirkosertic" itemprop="url"><i class="fa fa-github"></i></a>
            <a class="icon" target="_blank" href="https://de.linkedin.com/in/mirko-sertic-98882397" itemprop="url"><i class="fa fa-linkedin"></i></a>
            <a class="icon" target="_blank" href="https://plus.google.com/112732493059943659026" itemprop="url"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="profile">
            <div class="item">
                I provide Software and Support in the field of electronic data processing. As a consultant and software craftsman I have supported a number of major players in projects of all sizes in Germany and Switzerland. My experience as a developer and architect makes informed decisions, sustainable architectures and sound operation of all kinds of software.
            </div>
            <div class="item certifications">
                <span>Technical certifications:
                    <ul>
                        <li>2014 Functional Programming Principles in Scala, EPFL Lausanne</li>
                        <li>2012 Oracle Java Enterprise Edition 5 Enterprise Architect Certified Master</li>
                        <li>2009 Sun Certified Developer for Java Web Services (SCDJWS)</li>
                        <li>2007 Sun Certified Enterprise Architect (SCEA)</li>
                        <li>2004 Sun Certified Web Component Developer for the Java2 Platform (SCWCD)</li>
                        <li>2003 Sun Certified Programmer for the Java2 Platform (SCJP)</li>
                    </ul>
                </span><span>Methodical certifications:
                    <ul>
                        <li>2010 International Project Management Association IPMA Level D</li>
                        <li>2008 Certified Professional for Requirements Engineering</li>
                    </ul>
                </span>
            </div>
            <div class="item">
                <div>Acquired skills:</div>
                <div class="skills">
                    <div class="skillcontainer skill-98">
                        <div class="skill architecture"><span class="caption">Software Architecture</span><span class="measurement">98%</span></div>
                    </div>
                    <div class="skillcontainer skill-98">
                        <div class="skill java"><span class="caption">Java</span><span class="measurement">98%</span></div>
                    </div>
                    <div class="skillcontainer skill-90">
                        <div class="skill javascript"><span class="caption">JavaScript / CSS</span><span class="measurement">90%</span></div>
                    </div>
                    <div class="skillcontainer skill-95">
                        <div class="skill ddd"><span class="caption">Domain-driven Design</span><span class="measurement">95%</span></div>
                    </div>
                    <div class="skillcontainer skill-90">
                        <div class="skill databases"><span class="caption">Databases</span><span class="measurement">90%</span></div>
                    </div>
                    <div class="skillcontainer skill-70">
                        <div class="skill scala"><span class="caption">Scala</span><span class="measurement">70%</span></div>
                    </div>
                    <div class="skillcontainer skill-95">
                        <div class="skill webtech"><span class="caption">Web Technologies</span><span class="measurement">95%</span></div>
                    </div>
                    <div class="skillcontainer skill-95">
                        <div class="skill mobiletech"><span class="caption">Mobile Devices</span><span class="measurement">95%</span></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div>Technology experience (excerpt):</div>
                <div>Java (Oracle Java Certified), JEE, EJB, Android, Scala, GWT(Google Web Toolkit), JavaScript, HTML5 Polymer, SOA, XML, Spring, GIT, OOA/D/P, Java2D, Java3D, JavaFX 2.0, SWT, JPA, Hibernate, Spring, JSF, AOP(AspectJ), SOAP, WSDL, CruiseControl / Hudson / Jenkins, Maven, PostgreSQL, Domain-Driven Design, NoSQL, Docker,Windows 3.1 to Windows 10, JBoss AS, Tomcat, TomEE, WebLogic WLS, IBM Websphere, Apache Lucene, Apache Solr, Hibernate Search, Bean Validation, JAXB, StAX, TRaX, V-Modell, HERMES(Swiss), XP, SCRUM, Eclipse, JBuilder, Netbeans, IntelliJ, Canoo ULC, JUnit, Mockito, PowerMock, EasyMock, JSFUnit, DBUnit, Apache OJB, Objektpark, Case Tools, Apache CXF, MyFaces, Tomahawk, Richfaces, Primefaces, PrettyFaces, JasperReports, Informix, MDSD, MDA, XSL:FO, OrientDB, Enterprise Architect, WebGL/OpenGL, C / C++, Selenium, XSLT, JDBC, JSP, Subversion, AWT/Swing, SOAP, REST, Hibernate, Oracle PL-SQL, DB2, MS-SQL, MySQL, UML</div>
            </div>
            <div class="item">
                <span class="icon" ><i class="fa fa-map-marker"></i>Contact:</span>
                <div itemprop="name">Mirko Sertic</div>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <div itemprop="streetAddress">Josefine-Mauser-Str. 66</div>
                    <div itemprop="postalCode">48157 Münster</div>
                    <div itemprop="addressCountry">Germany</div>
                </div>
            </div>
        </div>
    </div>
</div>
