<li itemprop="blogPosts" class="post-stub" itemscope itemtype="http://schema.org/BlogPosting" date-is="{{ .Date.Format "2006-01-02" }}" >
    <div class="content">
    <h4 class="post-stub-title" itemprop="name">{{ .Title }}</h4>

    {{ partial "taglist.html" . }}

    {{ if .Description }}
        <p class="post-stub-description" itemprop="description">{{ .Description }}&nbsp;<a href="{{ .Permalink }}" itemprop="url" class="readmore">Read more...</a></p>
    {{ end }}
    {{ with .Params.featured }}
        <span class="post-stub-tag">Featured</span>
    {{ end }}
    </div>
</li>