<address>
    <strong itemprop="name">Mirko Sertic</strong>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <div itemprop="streetAddress">Josefine-Mauser-Str. 66</div>
        <div itemprop="postalCode">48157 Münster</div>
        <div itemprop="addressCountry">Germany</div>
    </div>
    <a class="icon" target="_top" href="mailto:mirko@mirkosertic.de"><i class="fa fa-envelope"></i></a>
    <a class="icon" target="_blank" href="{{ .Site.BaseURL }}index.xml" itemprop="url"><i class="fa fa-rss"></i></a>
    <a class="icon" target="_blank" href="https://www.xing.com/profile/Mirko_Sertic" itemprop="url"><i class="fa fa-xing"></i></a>
    <a class="icon" target="_blank" href="https://twitter.com/mirkosertic" itemprop="url"><i class="fa fa-twitter"></i></a>
    <a class="icon" target="_blank" href="https://github.com/mirkosertic" itemprop="url"><i class="fa fa-github"></i></a>
    <a class="icon" target="_blank" href="https://de.linkedin.com/in/mirko-sertic-98882397" itemprop="url"><i class="fa fa-linkedin"></i></a>
</address>
