{{ if .Site.Config.Services.Disqus.Shortname }}
<div class="comments">
    <div id="disqus-placeholder">Loading comments...</div>
    <div id="disqus_thread"></div>
    <script>
        'use strict';
        window.addEventListener("load", function(event) {
            var disqusLoaded = false;
            var disqusObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {
                    if (!disqusLoaded && entry.isIntersecting) {
                        console.log("Loading Disqus");
                        disqusLoaded = true;

                        document.getElementById('disqus-placeholder').remove();

                        // Callback code
                        var script = document.createElement('script');
                        script.src = '//{{ .Site.Config.Services.Disqus.Shortname }}.disqus.com/embed.js';
                        script.async = true;
                        script.setAttribute('data-timestamp', +new Date());
                        script.addEventListener('load', function () {
                            // Hide Placeholder
                            DISQUS.reset({reload: true, config: false});
                        });
                        (document.head || document.body).appendChild(script);
                    }
                });
            }, {
                root: null,
                rootMargin: "0px",
                threshold: [0]
            });
            disqusObserver.observe(document.querySelector(".comments"));
        }, false);
    </script>
</div>
{{ end }}
