<!DOCTYPE html>
<html lang="en" {{ if .Site.Params.opengraph }} prefix="og: http://ogp.me/ns#"{{ end }}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ .Title }} &middot; {{ .Site.Author.name }}</title>
    <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="robots" content="index,follow">
    {{ if .Site.Params.opengraph }}{{ partial "opengraph.html" . }}{{ end }}
    {{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml">{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ .Site.BaseURL }}css/site.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}safari-pinned-tab.svg" color="#5bbad5">
    <script src="https://polyfill.io/v2/polyfill.min.js?features=default,IntersectionObserver"></script>
    <meta name="theme-color" content="#ffffff">
    {{ template "_internal/google_analytics_async.html" . }}    
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <div class="container">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">www.mirkosertic.de</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a itemprop="url" class="nav-link{{ if in (print .Page.RelPermalink) "global/toolsgoodies"}} active{{end}}" href="/global/toolsgoodies" title="Tools &amp; Goodies">Tools &amp; Goodies</a>
                    </li>

                    <li class="nav-item">
                        <a itemprop="url" class="nav-link{{ if in (print .Page.RelPermalink) "global/interestingbooks"}} active{{end}}" href="/global/interestingbooks" title="Interesting Books">Interesting Books</a>
                    </li>

                    <li class="nav-item">
                        <a itemprop="url" class="nav-link{{if in (print .Page.RelPermalink) "global/favorites"}} active{{end}}" href="/global/favorites" title="My favorite postings">My favorite postings</a>
                    </li>

                    <li class="nav-item">
                        <a itemprop="url" class="nav-link{{if or (in (print .Page.RelPermalink) "blog/") (in (print .Page.RelPermalink) "post/")}} active{{end}}" href="/post/" title="Blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main">
