<div class="landingpage" itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="email" content="mirko@mirkosertic.de"/>

    <header class="business-header bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3 text-center text-white mt-4"><span class="d-none d-md-inline">Hello, my name is </span>Mirko Sertic.</h1>
                    <h2 class="display-3 text-center text-white mt-4">Software Engineer.</h2>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="mt-4">What I do</h2>
                <p>I provide Software and Support in the field of electronic data processing. As a consultant and
                    software craftsman I have supported a number of major players in projects of all sizes in Germany
                    and Switzerland. My experience as a developer and architect makes informed decisions, sustainable
                    architectures and sound operation of all kinds of software.</p>
            </div>
            <div class="col-sm-4">
                <h2 class="mt-4 hidden-md-down">Contact me</h2>
                {{ partial "address.html" . }}
            </div>
        </div>

        <div class="row  mt-4 mb-4">
            <div class="col-md-4">
                <h2>My Services</h2>
                <p>IT Consulting, Modern System &amp; Software Architecture, Software Development</p>
            </div>
            <div class="col-md-4">
                <h2>Technologies</h2>
                <p>Java, Domain-driven Design, Web Technologies, Mobile Devices, Cloud everywhere</p>
            </div>
            <div class="col-md-4">
                <h2>My Background</h2>
                <p>Sun &amp; Oracle Certified Enterprise Architect
                    <br>Sun &amp; Oracle Certified Java Developer
                    <br>Certified Professional for Requirements Engineering
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>(Not complete) History of Talks and Presentations</h2>
                <p><b>06/2018 Java aktuell - WebAssembly ein Jahr danach</b><br>A written summary of my JavaLand talk. <a href="{{ .Site.BaseURL }}media/JavaAktuell2018.pdf" target="_blank">(PDF)</a></p>
                <p><b>03/2018 Frontend-Freunde Münster - WebAssembly ein Jahr danach</b><br>A talk at a local user group meetup held in Münster/Germany. <a href="https://www.youtube.com/watch?v=YYEknpri2Xc" target="_blank">(Video)</a></p>
                <p><b>03/2018 Thalia Tech Blog - Frontend-Spielereien mit WebAssembly</b><br>A tech blog posting about WebAssembly hosted by the Thalia.de engineering team. <a href="https://tech.thalia.de/frontend-spielereien-mit-webassembly/" target="_blank">(Link)</a></p>
                <p><b>03/2018 JavaLand - WebAssembly ein Jahr danach</b><br>A presentation about the upcoming WebAssembly standard, its current state and possibilities. <a href="https://speakerdeck.com/mirkosertic/webassembly-ein-jahr-danach" target="_blank">(Slides)</a></p>
                <p><b>09/2017 Java aktuell - From Legacy to Modern Web</b><br>A written summary of my JavaLand talk. <a href="{{ .Site.BaseURL }}media/JavaAktuell2017.pdf" target="_blank">(PDF)</a></p>
                <p><b>05/2017 WebComponents Primer</b><br>A short introduction about WebComponents held at a local hackathon. <a href="https://speakerdeck.com/mirkosertic/html5-webcomponents-primer" target="_blank">(Slides)</a></p>
                <p><b>03/2017 JavaLand - From Legacy to Modern Web</b><br>A case study about strategies for
                    cross-compiling legacy applications to the web platform. <a href="https://speakerdeck.com/mirkosertic/from-legacy-to-modern-web" target="_blank">(Slides)</a></p>
                <p><b>03/2013 Objektorientierung, Domain-driven Design und Architektur</b><br>A crash course about application of Domain-driven Design principles to complex systems. <a href="https://speakerdeck.com/mirkosertic/objektorientierung-domain-driven-design-und-architectur" target="_blank">(Slides)</a></p>
            </div>
        </div>
</div>
