<div class="landingpage" itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="email" content="mirko@mirkosertic.de"/>

    <header class="business-header bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3 text-center text-white mt-4">Hello, my name is Mirko Sertic.</h1>
                    <h2 class="display-3 text-center text-white mt-4 d-none d-md-block">Software Engineer.</h2>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="mt-4">What I do</h2>
                <p>I provide Software and Support in the field of electronic data processing. As a consultant and
                    software craftsman I have supported a number of major players in projects of all sizes in Germany
                    and Switzerland. My experience as a developer and architect makes informed decisions, sustainable
                    architectures and sound operation of all kinds of software.</p>
            </div>
            <div class="col-sm-4">
                <h2 class="mt-4 hidden-md-down"><i class="fa fa-map-marker"></i>Contact me:</h2>
                {{ partial "address.html" . }}
            </div>
        </div>

        <div class="row  mt-4 mb-4">
            <div class="col-md-4">
                <h2>My Services</h2>
                <p>IT Consulting, Modern System &amp; Software Architecture, Software Development</p>
            </div>
            <div class="col-md-4">
                <h2>Technologies</h2>
                <p>Java, Domain-driven Design, Web Technologies, Mobile Devices, Cloud everywhere</p>
            </div>
            <div class="col-md-4">
                <h2>My Background</h2>
                <p>Sun &amp; Oracle Certified Enterprise Architect
                    <br>Sun &amp; Oracle Certified Java Developer
                    <br>Certified Requirements engineer
                    <br>Conference speaker
                </p>
            </div>
        </div>
    </div>
</div>
