<article class="post-content clearfix" itemprop="articleBody">
    {{ with .Params.Image }}
    <img class="post-featured-image" src="{{ . }}">
    {{ end }}

    {{ .Content }}
    <div class="metainfo">
        {{if .PrevInSection}}<span>&lt;&lt;Pevious posting: <a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}}</a></span>{{end}}
        {{if .NextInSection}}<span>Next posting: <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}</a>&gt;&gt;</span>{{end}}
    </div>
</article>